@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  background-color: rgb(17,17,31) !important;
}
nav{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bg-dark.navbar-dark{
  background-color: #252525 !important;
  
}

.nav-link{
  
  color: rgb(223, 223, 223) !important;
  transition: 0.2s;
  
}
a:hover{
  color: rgb(116, 116, 116) !important;
  transition: 0.2s;
  text-decoration: none;
}
.container{
  padding: 50px;
 
}
.container.jogos{
  margin-top: -8% ;
}
.jogos{
  margin-top: -2%;
}
hr{
  background-color: rgb(88, 88, 88);
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -3%;
}
h1{
 color: rgb(223, 223, 223);
 margin-left: 44.5%; 
 font-family: 'roboto';
 padding: 15px;
}
img[class=banner]{
  margin-left: -17%;
}
.album{
  width: 80%;
  margin-left: 10%;
  border: solid thin rgb(88, 88, 88); ;
  border-radius: 50px;
}
.ico{
  margin-left: 60%;
  background-color: rgb(168, 168, 168) ;
  border: transparent;
  border-radius: 50px;
  
}
a.nav-link{
  text-decoration: none;
  color: white;
}
footer{
  background-color: rgba(37, 37, 37, 0.7);
  padding: 20px;
  text-align: center;
}

h6{
  color: white;
}
a.ft:hover{
  text-decoration: none;
  color: rgb(0, 0, 0) !important;
  transition: 0.2s;
}
a.ft{
  background-color: rgb(117, 117, 117);
  padding: 2px;
  border: transparent;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s';
}
.carousel, .carousel-item, .carousel-inner{
  border: transparent;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carousel-indicators{
  background-color: rgba(128, 128, 128, 0.7);
  width: fit-content ;
  padding: 5px;
  margin: 0 auto;
  border: transparent;
  border-radius: 15px 15px 0px 0px;
 
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  
  padding: 10px;
  border: transparent;
  border-radius: 15px;
  width: 40px;
  height: 40px;
}
/*.fot{
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: -25px;
}*/

form{
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 84%;
}
.lb1, .lb2, .lb3{
  display: flex;
  flex-direction: column;
  width: 25%;
  
}
label{
  height: -20px;
}
article{
  color: white;
}
article{
  margin-left: 50%;
  margin-top: -25%;
  text-align: center;
  background-color: rgba(41, 41, 75, 0.7);
  padding: 15px;
  width: 40%;
  border: transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input, textarea{
  border: transparent;
  border-radius: 25px;
  padding: 10px;
  background-color: #cecece;
}
span{
  color: white;
}

.area-login{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181920;
  width: 400px;
  height: 650px;
  padding: 40px;
  border-radius: 10px;
}

.Login form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Login input{
  margin-top: 10px;
  background-color: #252a34;
  padding-left: 10px;
  color:#ffffff;
  border: none;
  height: 45px;
  outline: none;
}

.Login img{
  width: 100px;
  height: auto;
}

.input::placeholder{
  color: #ffffff;
  font-size: 14px;
}

form.a [type="submit"]{
  display: block;
  background-color: rgb(88, 88, 88);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
p.a{
  color: white;
  margin-left: 5%;
}
input.botao{
  background-color: rgb(94, 216, 125);
  border-radius: 10px;
  transition: 0.2s;
  align-self: center;
  display: flexbox;
  position:relative;
}
input.botao:hover{
  background-color: rgb(117, 255, 152);
  transition: 0.2s;
}

.carrocelP{
  color:white;
}



h4{ 
  margin-left: 2%;
  margin-top: -4%;
  color:antiquewhite;
}

a.botao{
  color:black;
  background-color: rgb(94, 216, 125);
  border-radius: 10px;
  transition: 0.2s;
  align-self: center;
  display: flexbox;
  position:relative;
  padding:10px;
}

a.botao:hover{
  background-color: rgb(117, 255, 152);
  transition: 0.2s;
}

a{
  color:black
}

a:hover{ color: rgb(85, 85, 85);
transition: 0.2s;

}

.back{
  color:rgb(138, 138, 138);
}




/*video responsivo*/
div.trailer-bg-style{
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.9);
  border-style: solid;
  border-radius: 0.5rem;
  margin: 30px 40px 30px 40px;
  padding:20px 5px 10px 5px;
}

div.video{
  position: relative;
  padding-bottom: 50%;
  width: 100%;
}

div.video > iframe{
  position: absolute;
  width:100%;
  height: 100%;
  border:none;
}
/*fim video responsivo*/



a.botao2{
  color:black;
  background-color: rgb(32, 32, 32);
  border-radius: 15px;
  transition: 0.2s;
  align-self: center;
  display: flexbox;
  position:relative;
  padding:10px;
}

a.botao2:hover{
  background-color: rgb(95, 95, 95);
  transition: 0.2s;
}

a{
  color:black
}

a:hover2{ color: rgb(85, 85, 85);
transition: 0.2s;

}

.margin_botao{
  margin-top: 1%;
}
.form2, p, h1{
  color: antiquewhite;
  width: 500px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  text-align: center;
  margin-left: 25.9%;
}

.logo{
  margin-top: 10%;
  width: 65px;
  height: 65px;
  margin-left: 40%;
}
tbody{
  background-color: white;
}
.container.jogos{
  display: flex;
  flex-direction: column;
  padding: 75px;
  margin-top: 0%;
 
}
.card.jogos{
  width: 20%;
  padding: 50px 100px 50px 100px;
  
  margin-left: 23%;
  margin-top: -5%;
}
h5{
  font-family: 'roboto';
  font-weight: 900;
}
a.btn-sm{
  margin-left: 37%;
}
